*{
	box-sizing: border-box;
	font-family: "Times New Roman", Times, serif;
}
body{
	margin: 0;
	position: relative;
	background-color: #eeeeee;
}
header{
	display: flex;
	flex-direction: row;
	position: sticky;
	z-index: 2;
	top:0;
	width: 100%;
	padding: 10px;
	padding-right: 0;
	background-color: #222831;
	box-shadow: 0 1px 10px 0px #222831;
}
.logo{
	height: 40px;
}
.logo-mob{
	display: none;
}
.search{
	border: none;
	border-radius: 4px 0 0 4px;
	margin: 0;
	padding-left: 4%;
	font-size: 21px;
	float: left;
}
.search-btn{
	margin: 0;
	height:40px;
	width: 40px;
	padding: 4px;
	background-color: lavender;
	border-left: 1px solid black;
	float: left;
	border-radius: 0 4px 4px 0;
}
.dp{
	height:40px;
	width: 40px;
	border-radius: 50%;
	margin-left: 10px;
}
.container{
	display: inline-block;
	position: absolute;
	right: 0.5%;
}
.search-container{
	display: grid;
	grid-template-columns: auto auto auto;
}
.search:focus{
	outline: none;
}
.search-btn:hover{
	cursor: pointer;
}
.search-btn:active{
	background-color: #cacaf4;
}
.msg-container{
	display: grid;
	align-content: center;
	margin: 6.5% auto;
	padding: 1%;
	min-height: 240px;
	width: 40%;
	background-color: #222831;
	color: #eeeeee;
	border-radius: 8px;
	box-shadow: 0px 5px 15px #222831;
	font-size: 23px;
	word-break: break-word;
}
.msg{
	margin: 0 4%;
	font-weight: bold;
}
.msg-container a:link,.msg-container a:visited,.msg-container a:active{
	color: #eeeeee;
}
@media only screen and (max-width:600px){
header{
	display: flex;
	flex-direction: row;
	position: sticky;
	top: 0;
	width: 100%;
	padding: 10px;
	padding-right: 0;
	background-color: #222831;
	box-shadow: 0 1px 10px 0px #222831;
	z-index: 2;
}
.logo{
	display: none;
	height: 40px;
}
.logo-mob{
	display: inline-block;
	height: 40px;
}
.search{
	border: none;
	border-radius: 4px 0 0 4px;
	margin: 0;
	padding-left: 4%;
	font-size: 20px;
	float: left;
	width: 160px;
}
.search-btn{
	margin: 0;
	height:40px;
	width: 40px;
	padding: 5px;
	background-color: lavender;
	border-left: 1px solid black;
	float: left;
	border-radius: 0 4px 4px 0;
}
.dp{
	height:40px;
	width: 40px;
	border-radius: 50%;
	margin-left: 10px;
}
.container{
	position: absolute;
	display: inline-block;
	right: 0.5%;
}
.search-container{
	display: grid;
	grid-template-columns: auto auto auto;
}
.search:focus{
	outline: none;
}
.search-btn:hover{
	cursor: pointer;
}
.search-btn:active{
	background-color: #cacaf4;
}
.msg-container{
	display: grid;
	align-content: center;
	margin: 7% auto;
	padding: 4%;
	min-height: 200px;
	width: 90%;
	background-color: #222831;
	color: #eeeeee;
	border-radius: 8px;
	box-shadow: 0px 5px 15px #222831;
	font-size: 21px;
	word-break: break-word;
}
.msg{
	margin: 0 4%;
	font-weight: bold;
}
.msg-container a:link,.msg-container a:visited,.msg-container a:active{
	color: #eeeeee;
}
}