*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
header{
	display: flex;
	flex-direction: row;
	position: sticky;
	z-index: 1;
	top:0;
	width: 100%;
	padding: 10px;
	padding-right: 0;
	background-color: #222831;
	box-shadow: 0 1px 10px 0px #222831;
}
.logo{
	height: 40px;
}
.logo-mob{
	display: none;
}
.search{
	border: none;
	border-radius: 4px 0 0 4px;
	margin: 0;
	font-size: 20px;
	float: left;
}
.search-btn{
	margin: 0;
	height:40px;
	width: 40px;
	padding: 8px;
	background-color: lavender;
	border-left: 1px solid black;
	float: left;
	border-radius: 0 4px 4px 0;
}
.dp{
	height:40px;
	width: 40px;
	border-radius: 50%;
	margin-left: 10px;
}
.container{
	display: inline-block;
	position: absolute;
	right: 0.5%;
}
.search-container{
	display: grid;
	grid-template-columns: auto auto auto;
}
.search:focus{
	outline: none;
}
.search-btn:hover{
	cursor: pointer;
}
.search-btn:active{
	background-color: #cacaf4;
}
.grid-cont{
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto auto;
	justify-content: start;
	gap: 0.5%;
	padding: 1%;
}
.slide-container{
	position:relative;
	border: 1px solid black;
	display: inline-block;
	background-color: #eeeeee;
	max-width: 490px;
	height: auto;
}
.dot{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #b6aef0;
	display: inline-block;
	transition: all 0.4s;
}
.active,.dot:hover{
	cursor: pointer;
	background-color: #606060;
}
.slide{
	width: 100%;
	aspect-ratio: 1/1;
	display: none;
}
.slide img{
	max-width: 100%;
	height: auto;
	aspect-ratio: 1/1;
}
.prev,.next{
	padding: 4px;
	position: absolute;
	top:44%;
	user-select: none;
	font-size: 24px;
	transition: all 0.4s;
}
.next{
	right:0;
}
.prev:hover,.next:hover{
	cursor: pointer;
	color: white;
	background-color: rgba(0,0,0,0.8);
}
.fade{
	animation-name: fade;
	animation-duration: 1s;
}
.details{
	padding: 0 1% 1% 1%;
	position: relative;
	font-size: 21px;
}
.desc{
	max-height: 528px;
	padding: 1%;
	padding-top: 0;
	position: relative;
	font-size: 21px;
	border-bottom: 0px solid #606060;
	box-shadow: 0px -6px 5px -6px inset;
	overflow: auto;
}
.desc::-webkit-scrollbar{
	display: none;
}
.desc{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.shop-container{
	display:flex;
	flex-direction: row;
}
.shop-container h4,select,button{
	align-self: center;
	margin:0 1%;
}
.qty{
	padding: 1%;
	outline: none;
}
h2,h5,h3,h4{
	margin: 0;
	display: inline-block;
	padding: 0;
}
.buy{
	display: grid;
	grid-template-columns: auto auto;
	gap: 8px;
	background-color: #ff2e63;
	border-radius:4px;
	border: 1px solid #222831;
	color: white;
	font-weight: bold;
	font-size: 24px;
	display: flex;
	padding: 8px;
	transition: all 0.5s;
}
.add-cart{
	display: grid;
	grid-template-columns: auto auto;
	gap: 8px;
	background-color: #00adb5;
	border: 1px solid #222831;
	border-radius:4px;
	color: white;
	font-weight: bold;
	font-size: 24px;
	display: flex;
	padding: 8px;
	transition: all 0.5s;
}
.buy span,img{
	align-self: center;
}
.add-cart span,img{
	align-self: center;
}
.qty:active,.buy:active,.add-cart:active{
	outline: none;
}
.buy:hover, .add-cart:hover{
	cursor: pointer;
	background-color: #222831;
	box-shadow: 0px 0px 4px 0 #222831;
}
@keyframes fade{
	from{opacity: .4}
	to{opacity: 1}
}

@media only screen and (max-width:600px){
header{
	display: flex;
	flex-direction: row;
	position: sticky;
	top: 0;
	width: 100%;
	padding: 10px;
	padding-right: 0;
	background-color: #222831;
	box-shadow: 0 1px 10px 0px #222831;
	z-index: 1;
}
.logo{
	display: none;
	height: 40px;
}
.logo-mob{
	display: inline-block;
	height: 40px;
}
.search{
	border: none;
	border-radius: 4px 0 0 4px;
	margin: 0;
	font-size: 20px;
	float: left;
	width: 200px;
}
.search-btn{
	margin: 0;
	height:40px;
	width: 40px;
	padding: 8px;
	background-color: lavender;
	border-left: 1px solid black;
	float: left;
	border-radius: 0 4px 4px 0;
}
.dp{
	height:40px;
	width: 40px;
	border-radius: 50%;
	margin-left: 10px;
}
.container{
	position: absolute;
	display: inline-block;
	right: 0.5%;
}
.search-container{
	display: grid;
	grid-template-columns: auto auto auto;
}
.search:focus{
	outline: none;
}
.search-btn:hover{
	cursor: pointer;
}
.search-btn:active{
	background-color: #cacaf4;
}
.grid-cont{
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto;
	justify-content: start;
	gap: 0.5%;
	padding: 1%;
}
.slide-container{
	position:relative;
	border: 1px solid black;
	display: inline-block;
	background-color: #eeeeee;
	max-width: 490px;
	height: auto;
}
.dot{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #b6aef0;
	display: inline-block;
	transition: all 0.4s;
}
.active,.dot:hover{
	cursor: pointer;
	background-color: #606060;
}
.slide{
	width: 100%;
	aspect-ratio: 1/1;
	display: none;
}
.slide img{
	max-width: 100%;
	height: auto;
	aspect-ratio: 1/1;
}
.prev,.next{
	padding: 4px;
	position: absolute;
	top:44%;
	user-select: none;
	font-size: 24px;
	transition: all 0.4s;
}
.next{
	right:0;
}
.prev:hover,.next:hover{
	cursor: pointer;
	color: white;
	background-color: rgba(0,0,0,0.8);
}
.fade{
	animation-name: fade;
	animation-duration: 1s;
}
.details{
	padding: 0 1% 1% 1%;
	position: relative;
	font-size: 21px;
}
.desc{
	max-height: 100%;
	padding: 1%;
	padding-top: 0;
	position: relative;
	font-size: 21px;
	border-bottom: none;
	box-shadow: none;
	overflow: hidden;
}
.shop-container{
	display:flex;
	flex-direction: row;
}
.shop-container h4,select,button{
	align-self: center;
	margin:0 1%;
}
.qty{
	padding: 1%;
}
.qty:active,.buy:active,.add-cart:active{
	outline: none;
}
h2,h5,h3,h4{
	margin: 0;
	display: inline-block;
	padding: 0;
}
.buy{
	display: grid;
	grid-template-columns: auto auto;
	gap: 8px;
	background-color: #ff2e63;
	border-radius:4px;
	border: 1px solid #222831;
	color: white;
	font-weight: bold;
	font-size: 16px;
	display: flex;
	padding: 8px;
	transition: all 0.5s;
}
.add-cart{
	display: grid;
	grid-template-columns: auto auto;
	gap: 8px;
	background-color: #00adb5;
	border: 1px solid #222831;
	border-radius:4px;
	color: white;
	font-weight: bold;
	font-size: 16px;
	display: flex;
	padding: 8px;
	transition: all 0.5s;
}
.buy span,img{
	align-self: center;
}
.add-cart span,img{
	align-self: center;
}
.buy:hover, .add-cart:hover{
	cursor: pointer;
	background-color: #222831;
	box-shadow: 0px 0px 4px 0 #222831;
}
@keyframes fade{
	from{opacity: .4}
	to{opacity: 1}
}
}
